p
{
    color: rgb(255,0,0);
    line-height: 30px;
    text-decoration: none ;
}
body
{
    text-align: center;
    font-style: georgia;
}
h3
{
    color: black;
}
a
{
    color: rgb(0,255,0);
    text-decoration: none;
}
button
{
    background-color: white;
    color: blueviolet;
}
textarea
{
    color: #000;
}
span
{
    text-decoration: underline;
}